---
- name: Get dpkg architecture
  ansible.builtin.command:
    cmd: dpkg --print-architecture
  changed_when: false
  register: tool_zsh_dpkg

- name: Set Chroma version
  ansible.builtin.set_fact:
    tool_zsh_chroma_version: 2.21.1
    tool_zsh_dpkg_arch: "{{ tool_zsh_dpkg.stdout }}"

- name: Download Chroma
  ansible.builtin.get_url:
    url:
      "https://github.com/alecthomas/chroma/releases/download\
      /v{{ tool_zsh_chroma_version }}\
      /chroma-{{ tool_zsh_chroma_version }}-linux-{{ tool_zsh_dpkg_arch }}.tar.gz"
    dest: /tmp/chroma.tar.gz
    mode: "644"

- name: Unzip Chroma
  ansible.builtin.unarchive:
    remote_src: true
    src: /tmp/chroma.tar.gz
    dest: /tmp/

- name: Copy Chroma to /usr/local/bin
  become: true
  become_user: root
  ansible.builtin.copy:
    remote_src: true
    src: /tmp/chroma
    dest: /usr/local/bin/chroma
    owner: root
    group: root
    mode: "0755"

- name: Update .zshrc config for Chroma
  ansible.builtin.blockinfile:
    path: $HOME/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK - Chroma"
    block: |
      plugins=($plugins colorize)
      ZSH_COLORIZE_TOOL=chroma
      ZSH_COLORIZE_STYLE="dracula"
      ZSH_COLORIZE_CHROMA_FORMATTER=terminal256
    insertbefore: '^source \$ZSH\/oh-my-zsh\.sh'
    create: true
    mode: "644"
    state: present

- name: Insert an empty line before the marker line
  ansible.builtin.replace:
    path: $HOME/.zshrc
    regexp: '(?<=.\n)^(# BEGIN ANSIBLE MANAGED BLOCK.*)$'
    replace: '\n\1'

- name: Insert an empty line after the marker line
  ansible.builtin.replace:
    path: $HOME/.zshrc
    regexp: '^(# END ANSIBLE MANAGED BLOCK.*)$(?=\n.)'
    replace: '\1\n'

- name: Install zsh-autoswitch-virtualenv
  ansible.builtin.git:
    repo: https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
    dest: $HOME/.oh-my-zsh/custom/plugins/autoswitch_virtualenv
    depth: 1

- name: Update .zshrc config for zsh-autoswitch-virtualenv
  ansible.builtin.blockinfile:
    path: $HOME/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK - zsh-autoswitch-virtualenv"
    block: |
      plugins=($plugins autoswitch_virtualenv)
    insertbefore: '^source \$ZSH\/oh-my-zsh\.sh'
    create: true
    mode: "644"
    state: present

- name: Insert an empty line before the marker line
  ansible.builtin.replace:
    path: $HOME/.zshrc
    regexp: '(?<=.\n)^(# BEGIN ANSIBLE MANAGED BLOCK.*)$'
    replace: '\n\1'

- name: Insert an empty line after the marker line
  ansible.builtin.replace:
    path: $HOME/.zshrc
    regexp: '^(# END ANSIBLE MANAGED BLOCK.*)$(?=\n.)'
    replace: '\1\n'

- name: Install zsh-completion
  ansible.builtin.git:
    repo: https://github.com/zsh-users/zsh-completions
    dest: $HOME/.oh-my-zsh/custom/plugins/zsh-completions
    depth: 1

- name: Update .zshrc config for zsh-completion
  ansible.builtin.blockinfile:
    path: $HOME/.zshrc
    marker: "# {mark} ANSIBLE MANAGED BLOCK - zsh-completion"
    block: |
      fpath+=${ZSH_CUSTOM:-${ZSH:-$HOME/.oh-my-zsh}/custom}/plugins/zsh-completions/src
    insertbefore: '^source \$ZSH\/oh-my-zsh\.sh'
    create: true
    mode: "644"
    state: present

- name: Insert an empty line before the marker line
  ansible.builtin.replace:
    path: $HOME/.zshrc
    regexp: '(?<=.\n)^(# BEGIN ANSIBLE MANAGED BLOCK.*)$'
    replace: '\n\1'

- name: Insert an empty line after the marker line
  ansible.builtin.replace:
    path: $HOME/.zshrc
    regexp: '^(# END ANSIBLE MANAGED BLOCK.*)$(?=\n.)'
    replace: '\1\n'
