# Created by https://www.toptal.com/developers/gitignore/api/ansible,virtualenv
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible,virtualenv

### Ansible ###
*.retry

### VirtualEnv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# End of https://www.toptal.com/developers/gitignore/api/ansible,virtualenv


### Ignore inventories ###
/inventories/**
!/inventories/example.yaml
